.calculator {
    width: 500px;
    height: 600px;
    margin: 32px;
    padding: 32px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    color: white;
    background-color: lightgrey;
    width: 400px;
    height: 200px;
}

/* .display {
    color: white;
    background-color: lightgrey;
    width: 400px;
    height: 200px;
} */

.erase {
    padding: 8px 0px;
}

.inputBtns {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

button {
    width: 100px;
    height: 100px;
    margin: 8px;
}

#clear, #del {
    height: 25px;
}